{% extends "base.html" %}
{% block content %}

<form id="searchBox">
  <input type="text" name="name" id="textInput">
  <select name="category" id="catInput">
    {% for cat in category_list %}
    <option value="{{ cat }}">{{ cat }}</option>
    {% endfor %}
  </select>
  <input type="submit" value="Search">
</form>
<br/><br/>


<div id="searchResults">

</div>



<script>

function showResults(results) {
  $("#searchResults").html("<h3>Search Results</h3>")
  var data = results.data;

  data.forEach(function(product) {
    $("#searchResults").append("<div style='display: inline-block; width: 200px; vertical-align: top;'><p>" + product["title"]+ "</p><img src=" + product["img_url"] + "></div>");
  });
  
}

function getResults(evt) {
  evt.preventDefault();

  var searchInputs = {
    "text": $("#textInput").val(),
    "cat": $("#catInput").val()
  };

  $.get("/search.json", searchInputs, showResults);


}

$("#searchBox").on("submit", getResults);

</script>




{% endblock %}


