<!DOCTYPE HTML>
<html>
  <head>
    <title>Present Finder</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Present Finder</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/register">Register</a></li>

          {% if session.get("user_id") %}
            <li><a href="/logout">Logout</a></li>
          {% else %}
            <li><a href="/login">Login</a></li>
          {% endif %}

        </ul>
      </div>
    </nav>
    {% for message in get_flashed_messages() %}
      {{ message }}
    {% endfor %}

    {% block content %}
      put your content here
    {% endblock %}
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>