{% extends "base.html" %}
{% block content %}

<div class="mainpage">
<h3 class="main-header"><span class="glyphicon glyphicon-user"><span class="main-text"> {{ contact.fname|upper }} {{ contact.lname|upper }}</span></span></h3>
<hr>

<h4 class="header"><span class="glyphicon glyphicon-calendar"></span> EVENTS</h4>

{% for event in contact.events %}
  <a href="/event/{{ event.event_id }}">{{ event.event_name}}</a><br/>
  {{event.date.strftime("%A, %B %e")}}<br/><br/>
{% endfor %}

<h4 class="header"><span class="glyphicon glyphicon-heart"></span> INTERESTS&nbsp&nbsp&nbsp
  <a href class="badge" data-toggle="modal" data-target="#addInterest">
  +</a>
</h4>

<div class="contactInterests">
{% for interest in contact.interests %}

<a id="label{{ interest.interest_id }}" class="label label-default" data-contact-id="{{ contact.contact_id }}" data-interest-id="{{ interest.interest_id}}">{{ interest.name }}&nbsp&nbspX</a>
{% endfor %}
<br/><br/>
</div>

<script>

function showRemove(results) {
  $("#label" + results.interest).remove()

}

function removeLabel() {
  var inputs = {
    "contact": $(this).data("contactId"),
    "interest": $(this).data("interestId")

  }

  $.post("/remove-interest.json", inputs, showRemove);
}
$(".label-default").on("click", removeLabel);

</script>

{% if contact_past_presents %}
<h4 class="header"><span class="glyphicon glyphicon-time"></span> PAST PRESENTS
</h4>

{% for present in contact_past_presents %}

  <div class="product-display">

      <p><img class="img-responsive" src="{{ present.img_url }}"></p>

      <div class="product-display-title">

        <p>{{ present.present_name | truncate(50) }}</p>
        </div>
        

    </div>

{% endfor %}
{% endif %}
</div>

<div id="addInterest" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add Interest For {{ contact.fname }} {{ contact.lname }}</h4>
      </div>
      <div class="modal-body">
        
        <form action="/add-interest", method="POST">
          Interest Name: <input type="text" name="interest_name" required>
          Category:
          <select name="category">
            {% for cat in category_list %}
            <option value="{{ cat }}">{{ cat }}</option>
            {% endfor %}
          </select>
          <input type="hidden" name="contact_id" value="{{ contact.contact_id }}">
          <input type="hidden" name="amount" value=True>
          <input type="submit" value="Add">
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>



{% endblock %}