{% extends "base.html" %}
{% block content %}

<div class="mainpage">
<h4>{{ contact.fname }} {{ contact.lname }}</h4>

<h4>Events
  <!-- <button type="button" class="btn btn-info" data-toggle="modal" data-target="#addEvent">
  Add Event
  </button> -->
</h4>

{% for event in contact.events %}
  <a href="/event/{{ event.event_id }}">{{ event.event_name}} {{event.date.strftime("%m-%d-%Y")}}</a><br/>
{% endfor %}

<h4>Interests
  <button type="button" class="btn btn-info" data-toggle="modal" data-target="#addInterest">
  Add Interest
  </button>
</h4>

{% for interest in contact.interests %}
  <form action="/remove-interest" method="POST">
    <input type="hidden" name="contact_id" value="{{ contact.contact_id }}">
    <input type="hidden" name="interest_id" value="{{ interest.interest_id }}">
    {{ interest.name }} <input type="submit" value="x">
  </form>
  <br/>
{% endfor %}
</div>

<div id="addInterest" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add Interest For {{ contact.fname }} {{ contact.lname }}</h4>
      </div>
      <div class="modal-body">
        
        <form action="/add-interest", method="POST">
          Interest Name: <input type="text" name="interest_name" required>
          Category:
          <select name="category">
            {% for cat in category_list %}
            <option value="{{ cat }}">{{ cat }}</option>
            {% endfor %}
          </select>
          <input type="hidden" name="contact_id" value="{{ contact.contact_id }}">
          <input type="hidden" name="amount" value=True>
          <input type="submit" value="Add">
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>



{% endblock %}