{% extends "base.html" %}
{% block content %}

<h2>Event Details <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#editEvent">
    Edit Event</button></h2>
<a href="/contact/{{ event.contact.contact_id }}">{{ event.contact.fname }} {{ event.contact.lname }}'s</a> {{ event.event_name }} {{event.date.strftime("- %A, %B %d, %Y")}}

<h3>Selected Presents</h3>

{% for present in selected %}
    
    <div style="display: inline-block; width: 200px; vertical-align: top;">
      <a href="/similar?product={{ present.Present.present_id }}">
        <p>{{ present.Present.present_name }}</p>
        </a>
        <img src="{{ present.Present.img_url }}">

    </div>
  
{% endfor %}

<h3>Past Presents</h3>

{% for present in past %}
    
    <div style="display: inline-block; width: 200px; vertical-align: top;">
      <a href="/similar?product={{ present.Present.present_id }}">
        <p>{{ present.Present.present_name }}</p>
        </a>
        <img src="{{ present.Present.img_url }}">

    </div>

{% endfor %}

<h3>Bookmarked Presents</h3>

{% for present in bookmarked %}
    
    <div style="display: inline-block; width: 200px; vertical-align: top;">
      <a href="/similar?product={{ present.Present.present_id }}">
        <p>{{ present.present_name }}</p>
        </a>
        <img src="{{ present.Present.img_url }}">

    </div>
  
{% endfor %}

<h3>Suggested Presents</h3>

{% for product in product_list %}
    
    <div style="display: inline-block; width: 200px; vertical-align: top;">
      <form action="/like" method="POST">
        <input type="hidden" name="like" value="{{ product.asin }}">
        <input type="hidden" name="event_id" value="{{ event.event_id}}">
        <input type="submit" value="Like">
      </form>
      <a href="/similar?product={{ product.asin }}">
        <p>{{ product.title }}</p>
        </a>
        <img src="{{ product.medium_image_url }}">

    </div>
  
{% endfor %}



<div id="editEvent" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Edit Event For {{ event.contact.fname }} {{ event.contact.lname }}</h4>
      </div>
      <div class="modal-body">
        <form action="/edit-event" method="POST">
          
          Event Name: <input type="text" name="ename" value="{{ event.event_name }}"><br/>
          Date: <input type="text" name="date" value="{{ event.date }}"><br/>
          <input type="hidden" name="event_id" value="{{ event.event_id }}">
          <input type="submit" value="Update">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>


{% endblock %}