{% extends "base.html" %}
{% block content %}




{% for event in events %}
<a href="#" data-event-id="{{ event.event_id }}" class="event-link">{{event.contact.fname}}'s {{ event.event_name }}</a><br/>
{{event.date.strftime("%a, %b %e")}}
<br/>
<br/>

{% endfor %}

    </div>


    <div class="main-page" style="width: 75%; float: right; padding: 10px; margin-right: 3%; margin-left: 0%; border: 5px solid red;">
    </div>

    <script>

    $(".event-link").on("click", function() {
        $(".main-page").load("/event/" + $(this).data("eventId"));
    })


    </script>

    <div id="addEvent" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Add Event</h4>
          </div>
          <div class="modal-body">
            <form action="/add-event" method="POST">
              Contact: <select name="contact_id">

              {% for contact in user.contacts %}
              <option value= {{ contact.contact_id }}>{{ contact.fname }} {{ contact.lname}}</option>
              {% endfor %}
              </select><br/>
              Event Name: <input type="text" name="ename"><br/>
              Date: <input type="date" name="date"><br/>
              <input type="submit" value="Add">
            </form>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
    </div>

    {% endblock %}