{% extends "base.html" %}

{% block content %}

<div class="mainpage">

      <h3 class="main-header"><span class="glyphicon glyphicon-pushpin"><span class="main-text"><a href="/contact/{{ event.contact.contact_id }}"> {{ event.contact.fname|upper}} {{ event.contact.lname|upper }}'S</a> {{ event.event_name|upper }}<br/>
        <a href class="badge" class="btn btn-info" data-toggle="modal" data-target="#editEvent">-</a>&nbsp&nbsp&nbsp
        {{event.date.strftime("%A, %B %d")}}</span></span>
    </h3>
    <hr>


      {% if selected %}

      <h4 class="header"><span class="glyphicon glyphicon-tag"></span> SELECTED PRESENTS</h4>

      {% for present in selected %}
      
        <div class="product-display">
          
          
            <p><img class="img-responsive" src="{{ present.Present.img_url }}"></p>
            <div class="product-display-title">
              <a class="display-title-link" href="/product-details/{{ present.Present.present_id }}?event_id={{ event.event_id }}">
            <p>{{ present.Present.present_name | truncate(50) }}</p>
            </a>
          </div>
            
        </div>
      {% endfor %}

      {% endif %}


      {% if past %}

      <h4 class="header"><span class="glyphicon glyphicon-time"></span> PAST PRESENTS</h4>

      {% for present in past %}
          
          <div class="product-display">
            
            <p><img class="img-responsive" src="{{ present.Present.img_url }}"></p>
            <div class="product-display-title">
          <a class="display-title-link" href="/product-details/{{ present.Present.present_id }}?event_id={{ event.event_id }}">
            <p>{{ present.Present.present_name | truncate(50) }}</p>
            </a>
          </div>
            
        </div>

      {% endfor %}

      {% endif %}


      {% if bookmarked %}
      <h4 class="header"><span class="glyphicon glyphicon-bookmark"></span> BOOKMARKED PRESENTS</h4>
      <div id="bookmarkedPresents">

      {% for present in bookmarked %}
          
        <div class="product-display" id="prod{{ present.Present.present_id }}">
          
            <p><img class="img-responsive" src="{{ present.Present.img_url }}"></p>
            <div class="product-display-title">
          <a class="display-title-link" href="/product-details/{{ present.Present.present_id }}?event_id={{ event.event_id }}">
            <p>{{ present.Present.present_name | truncate(50) }}</p>
            </a>
          </div>
            
        </div>
        
      {% endfor %}
    </div>


      {% endif %}


      {% if product_list %}

      <h4 class="header"><span class="glyphicon glyphicon-bullhorn"></span> SUGGESTED PRESENTS</h4>

      {% for products in product_list %}
      {% set count = loop.index %}
        <h5 class="interest-category"><u>{{products[0]}}</u>&nbsp&nbsp&nbsp<a id="product-button{{ count }}" class="badge">+</a></h5>
      
          {% for product in products[1] %}

          <div class="myImage{{ count }} product-display">

            <a href="#" data-product-id="{{ product["id"] }}" data-event-id="{{ event.event_id }}" data-status-name="bookmarked" data-product-imgurl="{{ product.img_url}}" data-product-title="{{ product["title"]}}" data-product-url="{{ product.url}}" class="bookmark-link">
              <span id="bookmark{{ product["id"] }}" class="glyphicon glyphicon-bookmark" data-product-id="{{ product["id"] }}"></span>
            </a>

              <p><img class="img-responsive" src="{{ product.img_url }}"></p>

              <div class="product-display-title">
              <a class="display-title-link" href="/product-details/{{ product["id"] }}?event_id={{ event.event_id }}">
                <p>{{ product["title"] | truncate(50) }}</p>
              </a>
              </div>
            

          </div>
         
          {% endfor %}
          
          <br/><br/>
        
      {% endfor %}

      {% endif %}

</div>


<script src="/static/bookmark.js" type="text/javascript"></script>

<script>

  $(document).ready(function() {

    for (var i=1; i <= {{ product_size|safe }}; i++) {
  $('.myImage' + i).slice(5).hide();
}
});

function openButton(j) {
  $("#product-button" + j).on("click", function() {
  $(".myImage" + j ).fadeIn().slideDown(1000);

});
}

for (var i=1; i<= {{ product_size|safe }}; i++) {
  openButton(i);
}

</script>




<div id="editEvent" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Edit Event For {{ event.contact.fname }} {{ event.contact.lname }}</h4>
      </div>
      <div class="modal-body">
        <form action="/edit-event" method="POST">
          
          Event Name: <input type="text" name="ename" value="{{ event.event_name }}"><br/>
          Date: <input type="date" name="date" value="{{ event.date }}"><br/>
          <input type="hidden" name="event_id" value="{{ event.event_id }}">
          <input type="submit" value="Update">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>


{% endblock %}