{% extends "base.html" %}
{% block content %}

<div class="mainpage">
      <form class="navbar-form" id="searchBox">
  <input class="form-control" type="text" name="name" id="textInput" placeholder="Search Products">
  <select class="form-control" name="category" id="catInput">
    {% for cat in category_list %}
    <option value="{{ cat }}">{{ cat }}</option>
    {% endfor %}
  </select>
  <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
</form>
<div id="searchResults">
  <div class="event-chart">
  <canvas id="eventChart"></canvas>

  </div>
</div>
</div>

<script>

Chart.defaults.global.defaultFontFamily = "Roboto";
var options = { responsive: true };

var ctx= $("#eventChart").get(0).getContext("2d");

$.get("/event-nums.json", function (data) {
    var myBarChart = new Chart(ctx, {
      type: 'bar',
      data: data,
      options: {
        legend: { display: false},
        title: {
          display: true,
          text: "Number of Events in a Year"
        }
            }

    });

});
</script>

<script src="/static/search.js" type="text/javascript"></script>


{% endblock %}