{% extends "base.html" %}
{% block content %}


<form id="searchBox">
  <input type="text" name="name" id="textInput">
  <select name="category" id="catInput">
    {% for cat in category_list %}
    <option value="{{ cat }}">{{ cat }}</option>
    {% endfor %}
  </select>
  <input type="submit" value="Search">
</form>
<br/><br/>


<div id="searchResults">

</div>



<script src="/static/search.js" type="text/javascript"></script>



<div id="addEvent" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add Event</h4>
      </div>
      <div class="modal-body">
        <form action="/add-event" method="POST">
          Contact: <select name="contact_id">

          {% for contact in user.contacts %}
          <option value= {{ contact.contact_id }}>{{ contact.fname }} {{ contact.lname}}</option>
          {% endfor %}
          </select><br/>
          Event Name: <input type="text" name="ename"><br/>
          Date: <input type="text" name="date"><br/>
          <input type="submit" value="Add">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>





<div id="addContact" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add Contact</h4>
      </div>
      <div class="modal-body">
        <form action="/add-contact" method="POST">
  First Name: <input type="text" name="fname">
  Last Name: <input type="text" name="lname">
  <input type="submit" value="Add">
</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>



{% endblock %}