<!DOCTYPE HTML>
<html>
  <head>
    <title>Present Finder</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.js"></script>

    <style>
    .navbar-inverse {
      background-color: #686868;
    }
    </style>

  </head>
  <body>

    <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <table>
          <tr>
            <td style="vertical-align: top;">
              <h3><span class="glyphicon glyphicon-gift"></span></h3>
            </td>
            <td>
              <a class="navbar-brand" href="/">
              <img class="img-responsive" src='/static/pflogowords.png' style="height:30px"></a>
            </td>
          </tr>
        </table>


      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
        
<!--           {% if session.get("user_id") %}
            <li class="active"><a href="/user/{{ session['user_id'] }}">Home<span class="sr-only">(current)</span></a></li>
          {% endif %} -->
        

        </ul>
      
        <ul class="nav navbar-nav navbar-right">
          {% if session.get("user_name") %}
            <li><a href="#">Welcome {{ session["user_name"] }}!</a></li>
          {% else %}
            <li><a href="#" data-toggle="modal" data-target="#registerForm">Register</a></li>
          {% endif %}

          <li><a href="#"><span class="glyphicon glyphicon-calendar"></span> EVENTS</a></li>

          <li><a href="#"><span class="glyphicon glyphicon-list-alt"></span> CONTACTS</a></li>

          {% if session.get("user_id") %}
            <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> LOGOUT</a></li>
          {% else %}
            <li><a href="#" data-toggle="modal" data-target="#loginForm">Login</a></li>
          {% endif %}
        
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>


  {% if session.get("user_id") %}
    <div class="sidebar" style="width:25%;float:right;">
      <h4><span class="glyphicon glyphicon-calendar"></span> EVENTS
        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#addEvent">+</button>
      </h4><br/>

      {% for event in current_events %}
        {{event.date.strftime("%m-%d-%Y")}}<br/>
        <a id="eventLink" href="/event/{{ event.event_id }}">{{ event.fname}}'s {{ event.event_name }}</a><br/><br/>
      {% endfor %}


      <script src="http://unpkg.com/react/dist/react.js"></script>
      <script src="http://unpkg.com/react-dom/dist/react-dom.js"></script>

      <script src="http://unpkg.com/babel-standalone"></script>


      <h4><span class="glyphicon glyphicon-list-alt"></span> CONTACTS
        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#addContact">+</button></h4>
        <br/>
        {% for contact in user.contacts %}
          <a href="/contact/{{contact.contact_id}}">{{ contact.fname }} {{ contact.lname }}</a><br/>
        {% endfor %}
  
    </div>

    <div id="addEvent" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Add Event</h4>
          </div>
          <div class="modal-body">
            <form action="/add-event" method="POST">
              Contact: <select name="contact_id">

              {% for contact in user.contacts %}
              <option value= {{ contact.contact_id }}>{{ contact.fname }} {{ contact.lname}}</option>
              {% endfor %}
              </select><br/>
              Event Name: <input type="text" name="ename"><br/>
              Date: <input type="date" name="date"><br/>
              <input type="submit" value="Add">
            </form>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
    </div>


    <div id="addContact" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Add Contact</h4>
          </div>
          <div class="modal-body">
            <form action="/add-contact" method="POST">
      First Name: <input type="text" name="fname">
      Last Name: <input type="text" name="lname">
      <input type="submit" value="Add">
    </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
    </div>
  {% endif %}





  <div id="registerForm" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Register</h4>
        </div>
        <div class="modal-body">
          
          <form action="/register" method="POST">
            First Name: <input type="text" name="fname" required><br/>
            Last Name: <input type="text" name="lname" required><br/>
            Username: <input type="text" name="uname" required><br/>
            Email: <input type="email" name="email" required><br/>
            Password: <input type="password" name="password" required><br/>
            Notification: <select name="notification">
            <option value=True>Yes</option>
            <option value=False>No</option>
            </select>
            <input type="submit" value="Create Account">
          </form>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>


  <div id="loginForm" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Login</h4>
        </div>
        <div class="modal-body">
          
            <form action="/login" method="POST">
              Username: <input type="text" name="username" required><br/>
              Password: <input type="password" name="password" required><br/>
              <input type="submit" value="Login">
            </form>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>


  {% for message in get_flashed_messages() %}
    {{ message }}
  {% endfor %}

  {% block content %}
    put your content here
  {% endblock %}


  </body>
</html>