{% extends "base.html" %}
{% import "test.html" as test %}
{% block content %}

<!-- {{ test.render('example of a thing i would pass to render') }}
{% include "test.html" %} -->




<table style="width: 65%">
  <tr>
    <td>
      <form id="searchBox">
  <input type="text" name="name" id="textInput">
  <select name="category" id="catInput">
    {% for cat in category_list %}
    <option value="{{ cat }}">{{ cat }}</option>
    {% endfor %}
  </select>
  <input type="submit" value="Search">
</form>
<br/><br/>
</td>
</tr>
  <tr>
    <td>
      <div id="searchResults">
  <div class="event-chart">
  <canvas id="eventChart"></canvas>

  </div>

</div>
</td>
</tr>
</table>

<script>
var options = { responsive: true };

var ctx= $("#eventChart").get(0).getContext("2d");

$.get("/event-nums.json", function (data) {
    var myBarChart = new Chart(ctx, {
      type: 'bar',
      data: data,
      options: {
        legend: { display: false},
        title: {
          display: true,
          text: "Number of Events in a Year"
        }
            }

    });

});
</script>

<script src="/static/search.js" type="text/javascript"></script>


{% endblock %}