{% extends "base.html" %}
{% block content %}

<h3>Product Details {{ event_id }}</h3>
<form action="/bookmark" method="POST">
  <input type="hidden" name="product_id" value="{{ product.asin }}">
  <input type="hidden" name="event_id" value="{{ event_id }}">

  <select name="status_name">
    <option value="selected">Select</option>
  </select>
  <input type="submit" value="Go">
</form>
    
    <div style="display: inline-block; width: 200px; vertical-align: top;">
      <form action="/bookmark" method="POST">
        <input type="hidden" name="product_id" value="{{ product.asin }}">
        <input type="hidden" name="event_id" value="{{ event_id }}">
        <input type="submit" value="Bookmark">
      </form>
      <a href="/similar?product={{ product.asin }}">
        <p>{{ product.title }}</p>
        </a>
        <img src="{{ product.medium_image_url }}">

    </div>

{% endblock %}